<%= flash[:notice] %>

<h4 style="text-align:center">Import Data</h4>
<div style="text-align:center">
  <%= form_tag import_clients_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>

<div style="text-align:center">
<table style="border:1px solid black">
  <thead>
    <tr>
      <th>id</th>
      <th>uuid</th>
      <th>name</th>
      <th>address</th>
      <th>address2</th>
      <th>city</th>
      <th>state</th>
      <th>zip</th>
      <th>country</th>
      <th>phone</th>
      <th>website</th>
      <th>created at</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
    <tr>
      <td><%= client.id %></td>
      <td><%= client.uuid %></td>
      <td><%= client.name %></td>
      <td><%= client.address %></td>
      <td><%= client.address2 %></td>
      <td><%= client.city %></td>
      <td><%= client.state %></td>
      <td><%= client.zip %></td>
      <td><%= client.country %></td>
      <td><%= client.phone %></td>
      <td><%= client.website %></td>
      <td><%= client.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
